body{
    background-color: #f6f5ee;
}
h1{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
}
.nav_bar{
    margin:50px 0px 0px 50px;
    font-family: 'Space Grotesk', sans-serif;
    
    
}
a{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    margin:auto 10px;
    color:black;
    transition: 0.5s;
}
a:hover{
    color:#fdc400;
    margin: 0px 20px;
}


.About{
    position: relative;
    text-align: center;
}

.activepage
{
    font-size: 40px;
    margin:0px 50px;
}
