body
{
    background-color:#F87474 ;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 200%;

}
h1
{
    font-size: 5.625rem;        
    margin: 50px auto 0px auto;
    color: #F9F2ED;
    font-family: 'Sacramento',cursive;
}
h2
{
    font-size: 2.5rem; 
    color: #F9F2ED;    
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;    
}
h3
{
    font-family: 'Oswald', sans-serif;
    color: #F9F2ED;
}
a
{
    color: #FFB562;
}
hr
{
    border-top: 10px dotted;
    width:5%;
}
.top-container
{
    background-color:#3AB0FF;
    position: relative;
    padding-top: 100px;   
}
.middle-container
{
    
}

.skill_row
{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height:1;
}

.codingskill /*Coding GIF Pic*/
{
    float: left;
    width: 300px;
    height: 280px;
    margin-right: 30px;
    border-radius: 70%;
    
}
.camera /*Camera GIF Pic*/
{
    width: 25%;
    float: right;
    margin-left: 30px;
}


.ai
{
    text-decoration: underline;
}

.bottom-cloud
{
    position: absolute;
    width:15%;
    left:250px;
    bottom:300px;
    
}

.top-cloud
{
    position: absolute;
    width:15%;
    top:50px;
    right:250px;
}
