* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
}

img {
  object-fit: contain;
}
#instagram-post {
  display: none;

  

  padding: 20px;
  text-align: center;
}

#main-page {
  height: 2000px;
  padding: 20px;
  transition: filter 0.5s ease;
  color: white;
  background-color: black;
}
#main-page.blurred {
  filter: blur(5px);
  filter: brightness(0.5);
}
#main-page {
}
