*{
  box-sizing: border-box;
  padding: 1px;
  margin: 0px;
}
.title
{
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
}
.board
{   
  width: 300px;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}
.tile
{
  border:solid 1px black;
}