* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.title {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
}
.board {
  margin: 100px auto;
  width: 400px;
  font-family: "Permanent Marker", cursive;
  font-size: 5rem;
}
.tile {
}
